# SPDX-License-Identifier: MIT

CONFIG_ARM_MPU=n
CONFIG_HW_STACK_PROTECTION=n
CONFIG_SRAM_SIZE=116
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_250PPM=y
CONFIG_USE_DT_CODE_PARTITION=y
