# Raspberry Pi 4 GPIO SWD adapter. Tested with OpenOCD 0.12.0.
adapter driver linuxgpiod
set _GPIO_CHIP 0
source [find interface/raspberrypi-gpio-connector.cfg]
transport select swd
adapter speed 400
